/* add your CSS here */
#card {
  width: 300px;
  margin: 10px;
  padding: 0px 15px 15px 15px;
  border: solid 1px;
  border-color: #DCCFA9;
  box-shadow: 8px 5px 5px #DCCFA9;
}
.info {
  margin-top: 10px;
  border: solid 1px;
  border-color: #DCCFA9;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.labels {
  list-style: none;
  padding-left: 0px;
}
.labelname {
  font-weight: bold;
}
